# Ignore log files  
*.terraform

# Ignore compiled files  
*.o  
*.devcontainer 
*.tfstate

# Ignore specific files  
secret.txt  

# Ignore entire directories  
node_modules/  
build/  

# Ignore everything in the temp directory except temp/keep.txt  
temp/*  
!temp/keep.txt  

IAM User creation/terraform.tfstate


# Ignore Terraform state files  
*.tfstate  
*.tfstate.*  

# Ignore Terraform backup files  
*.tfstate.backup  

# Ignore conflict files  
*.tfstate.lock.info  

# Ignore sensitive variables file (if you use one)  
*.tfvars  